src/main/mule/customers-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core src/main/mule/mule-core-stub.xsd
    http://www.mulesoft.org/schema/mule/anypoint-mq file:///C:/kit_dev/workspace/Finetech%20%20Mock/Processes%20API/customers-process-api/src/main/mule/mule-anypoint-mq.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- GET /customers - Business Logic Flow -->
  <flow name="get-customers-business-logic" doc:name="get-customers-business-logic">
    <try doc:name="Try">
      <http:request method="GET" config-ref="Global_Party_System_API_Config" path="/api/global/parties" doc:name="Get Parties from Global Data">
        <http:query-params>
          <![CDATA[#[{
          "globalId": payload.globalId default null,
          "limit": payload.limit default "100",
          "offset": payload.offset default "0"
        }]]]>
        </http:query-params>
      </http:request>

      <ee:transform doc:name="Transform to Customer Response">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
---
payload map ((party) -> {
  id: null,
  globalId: party.globalId,
  externalIds: party.externalIds default [],
  customerNumber: null,
  party: {
    partyType: party.partyType,
    firstName: party.firstName,
    lastName: party.lastName,
    middleName: party.middleName,
    organizationName: party.organizationName,
    dateOfBirth: party.dateOfBirth,
    taxId: party.taxId
  },
  status: "Active",
  createdAt: party.createdAt,
  updatedAt: party.updatedAt
})]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>

      <error-handler>
        <on-error-propagate type="HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SERVICE_ERROR",
    message: "An error occurred while fetching customers",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /customers - Business Logic Flow -->
  <flow name="sync-customer-business-logic" doc:name="sync-customer-business-logic">
    <ee:transform doc:name="Transform to Global Party Format">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/json
---
{
  globalId: payload.globalId default null,
  partyType: payload.party.partyType,
  firstName: payload.party.firstName,
  lastName: payload.party.lastName,
  middleName: payload.party.middleName,
  organizationName: payload.party.organizationName,
  dateOfBirth: payload.party.dateOfBirth,
  taxId: payload.party.taxId,
  externalIds: payload.externalIds default []
}]]>
        </ee:set-payload>
      </ee:message>
      <ee:variables>
        <ee:set-variable variableName="customerData">
          <![CDATA[#[payload]]]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>

    <try doc:name="Try">
      <ee:scatter-gather doc:name="Scatter Gather">
        <ee:route>
          <http:request method="POST" config-ref="Global_Party_System_API_Config" path="/api/global/parties" doc:name="Upsert to Global Party">
            <http:body>
              <![CDATA[#[payload]]]>
            </http:body>
          </http:request>
        </ee:route>

        <ee:route>
          <ee:transform doc:name="Transform to Core Banking Format">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
var customer = vars.customerData
---
{
  customerNumber: customer.customerNumber default null,
  partyType: customer.party.partyType,
  firstName: customer.party.firstName,
  lastName: customer.party.lastName,
  middleName: customer.party.middleName,
  organizationName: customer.party.organizationName,
  dateOfBirth: customer.party.dateOfBirth,
  taxId: customer.party.taxId,
  status: customer.status default "Active"
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <http:request method="POST" config-ref="Core_Banking_Customers_System_API_Config" path="/api/customers" doc:name="Create/Update in Core Banking">
            <http:body>
              <![CDATA[#[payload]]]>
            </http:body>
          </http:request>
        </ee:route>

        <ee:route>
          <ee:transform doc:name="Transform to Salesforce Format">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
var customer = vars.customerData
---
{
  customerNumber: customer.customerNumber,
  party: customer.party,
  status: customer.status default "Active",
  externalIds: customer.externalIds default []
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <http:request method="POST" config-ref="Salesforce_Customers_System_API_Config" path="/api/salesforce/customers" doc:name="Upsert to Salesforce">
            <http:body>
              <![CDATA[#[payload]]]>
            </http:body>
          </http:request>
        </ee:route>
      </ee:scatter-gather>

      <ee:transform doc:name="Aggregate Response">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
var globalParty = payload[0]
---
{
  id: null,
  globalId: globalParty.globalId,
  externalIds: globalParty.externalIds,
  customerNumber: vars.customerData.customerNumber,
  party: vars.customerData.party,
  status: vars.customerData.status default "Active"
}]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>

      <error-handler>
        <on-error-propagate type="HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="HTTP Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "SYNC_ERROR",
    message: "An error occurred while syncing customer",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="500" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- GET /customers/{customerGlobalId} - Business Logic Flow -->
  <flow name="get-customer-by-global-id-business-logic" doc:name="get-customer-by-global-id-business-logic">
    <try doc:name="Try">
      <http:request method="GET" config-ref="Global_Party_System_API_Config" path="/api/global/parties/{customerGlobalId}" doc:name="Get Party from Global Data">
        <http:uri-params>
          <![CDATA[#[{customerGlobalId: vars.customerGlobalId}]]]>
        </http:uri-params>
      </http:request>

      <ee:transform doc:name="Transform to Customer Response">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
var party = payload
---
{
  id: null,
  globalId: party.globalId,
  externalIds: party.externalIds default [],
  customerNumber: null,
  party: {
    partyType: party.partyType,
    firstName: party.firstName,
    lastName: party.lastName,
    middleName: party.middleName,
    organizationName: party.organizationName,
    dateOfBirth: party.dateOfBirth,
    taxId: party.taxId
  },
  status: "Active",
  createdAt: party.createdAt,
  updatedAt: party.updatedAt
}]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>

      <error-handler>
        <on-error-propagate type="HTTP:NOT_FOUND" enableNotifications="true" logException="true" doc:name="Not Found Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Customer not found",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- POST /customers/lookup - Lookup Customer by External ID -->
  <flow name="lookup-customer-flow" doc:name="lookup-customer-flow">
    <http:listener doc:name="POST /customers/lookup" config-ref="HTTP_Listener_config" path="/api/customers/lookup" allowedMethods="POST" />

    <try doc:name="Try">
      <http:request method="POST" config-ref="Global_Party_System_API_Config" path="/api/global/parties/lookup" doc:name="Lookup Party by External ID">
        <http:body>
          <![CDATA[#[payload]]]>
        </http:body>
      </http:request>

      <ee:transform doc:name="Transform to Customer Response">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
var party = payload
---
{
  id: null,
  globalId: party.globalId,
  externalIds: party.externalIds default [],
  customerNumber: null,
  party: {
    partyType: party.partyType,
    firstName: party.firstName,
    lastName: party.lastName,
    middleName: party.middleName,
    organizationName: party.organizationName,
    dateOfBirth: party.dateOfBirth,
    taxId: party.taxId
  },
  status: "Active",
  createdAt: party.createdAt,
  updatedAt: party.updatedAt
}]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <set-variable value="200" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>

      <error-handler>
        <on-error-propagate type="HTTP:NOT_FOUND" enableNotifications="true" logException="true" doc:name="Not Found Error">
          <ee:transform doc:name="Transform Error">
            <ee:message>
              <ee:set-payload>
                <![CDATA[%dw 2.0
output application/json
---
{
  error: {
    code: "NOT_FOUND",
    message: "Customer not found for the given external ID",
    timestamp: now()
  }
}]]>
              </ee:set-payload>
            </ee:message>
          </ee:transform>
          <set-variable value="404" doc:name="httpStatus" doc:id="d3d4a356-1b30-4ea3-bf48-82e66c597694" variableName="httpStatus"/>
        </on-error-propagate>
      </error-handler>
    </try>
  </flow>

  <!-- MQ Listener: Consume Customer Updates from Party Roles Queue -->
  <flow name="consume-customer-update-from-mq" doc:name="consume-customer-update-from-mq">
    <mq:consume doc:name="Consume from Party Roles Queue" config-ref="Anypoint_MQ_Config" destination="Party Roles Queue">
      <mq:maximum-messages>1</mq:maximum-messages>
    </mq:consume>

    <logger level="INFO" message="Received customer update from MQ: #[payload]" doc:name="Log Customer Update" />

    <try doc:name="Try">
      <ee:transform doc:name="Transform MQ Message to Customer Format">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
var msg = payload
---
{
  globalId: null,
  customerNumber: msg.customerNumber,
  party: {
    partyType: "Individual",
    firstName: msg.firstName,
    lastName: msg.lastName,
    email: msg.email default null,
    phone: msg.phone default null,
    taxId: msg.taxId default null
  },
  status: msg.status default "Active",
  externalIds: [{
    system: "Salesforce",
    value: msg.customerId
  }]
}]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <flow-ref name="sync-customer-business-logic" doc:name="Sync Customer to All Systems" />

      <logger level="INFO" message="Successfully processed customer update from MQ" doc:name="Log Success" />

      <error-handler>
        <on-error-continue type="ANYPOINT-MQ:CONSUME,HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="Continue on Error">
          <logger level="ERROR" message="Error processing customer update from MQ: #[error.description]" doc:name="Log Error" />
        </on-error-continue>
      </error-handler>
    </try>
  </flow>

  <!-- MQ Listener: Consume Individual Updates from Parties Queue -->
  <flow name="consume-individual-update-from-mq" doc:name="consume-individual-update-from-mq">
    <mq:consume doc:name="Consume from Parties Queue" config-ref="Anypoint_MQ_Config" destination="Parties Queue">
      <mq:maximum-messages>1</mq:maximum-messages>
    </mq:consume>

    <logger level="INFO" message="Received individual update from MQ: #[payload]" doc:name="Log Individual Update" />

    <try doc:name="Try">
      <ee:transform doc:name="Transform MQ Message to Party Format">
        <ee:message>
          <ee:set-payload>
            <![CDATA[%dw 2.0
output application/json
var msg = payload
---
{
  globalId: null,
  partyType: "Individual",
  firstName: msg.firstName,
  lastName: msg.lastName,
  email: msg.email default null,
  phone: msg.phone default null,
  externalIds: [{
    system: "Salesforce",
    value: msg.contactId
  }]
}]]>
          </ee:set-payload>
        </ee:message>
      </ee:transform>

      <http:request method="POST" config-ref="Global_Party_System_API_Config" path="/api/global/parties" doc:name="Upsert Party to Global Data">
        <http:body>
          <![CDATA[#[payload]]]>
        </http:body>
      </http:request>

      <logger level="INFO" message="Successfully processed individual update from MQ" doc:name="Log Success" />

      <error-handler>
        <on-error-continue type="ANYPOINT-MQ:CONSUME,HTTP:REQUEST" enableNotifications="true" logException="true" doc:name="Continue on Error">
          <logger level="ERROR" message="Error processing individual update from MQ: #[error.description]" doc:name="Log Error" />
        </on-error-continue>
      </error-handler>
    </try>
  </flow>

</mule>